def.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="OWASP-DEF">
    <xs:annotation>
      <xs:documentation>The data in this example is compose from different sources</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Session-Reference"/>
        <xs:element type="xs:dateTime" name="Date-Time"/>
        <xs:element name="Scan" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="Host">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Scan-Info" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="Port" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Service">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="product" use="optional"/>
                                  <xs:attribute type="xs:string" name="version" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Software-Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-Version" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-Arguments" minOccurs="0"/>
                          <xs:element name="Vulnerability" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Finding">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Summary"/>
                                      <xs:element type="xs:string" name="Description"/>
                                      <xs:element type="xs:byte" name="Confidence"/>
                                      <xs:element type="xs:string" name="Background"/>
                                      <xs:element type="xs:string" name="Remediation"/>
                                      <xs:element name="Further-Information">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Further-Info" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name" use="optional"/>
                                                    <xs:attribute type="xs:string" name="url" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Classifications">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Classification" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                                    <xs:attribute type="xs:anyURI" name="href" use="optional"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Additional-Data">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Data">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="name"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Page">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Page-Reference"/>
                                            <xs:element type="xs:anyURI" name="URL"/>
                                            <xs:element type="xs:string" name="Method"/>
                                            <xs:element type="xs:string" name="HTTPVersion"/>
                                            <xs:element type="xs:short" name="StatusCode"/>
                                            <xs:element type="xs:string" name="Language"/>
                                            <xs:element name="Parameters">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Parameter"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Request-Response">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Request">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Request-Raw"/>
                                                        <xs:element name="Request-Headers">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Request-Cookie">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Additional-RequestData">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:short">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Response">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Response-Raw"/>
                                                        <xs:element name="Response-Headers">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Response-Cookie">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name" use="optional"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Additional-ResponseData">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element type="xs:string" name="Response-ScreenShot"/>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:int" name="NativeID"/>
                                    <xs:attribute type="xs:dateTime" name="IdentifiedTimestamp"/>
                                    <xs:attribute type="xs:string" name="UniqueID"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Severity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Scan-Data" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="protocol" use="optional"/>
                        <xs:attribute type="xs:byte" name="portid" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="ip-address" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Software-Name"/>
              <xs:element type="xs:string" name="Software-Version"/>
              <xs:element type="xs:string" name="Software-Arguments"/>
              <xs:element type="xs:string" name="Software-name" minOccurs="0"/>
              <xs:element type="xs:string" name="Software-version" minOccurs="0"/>
              <xs:element type="xs:string" name="Software-arguments" minOccurs="0"/>
              <xs:element name="Vulnerability" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Finding">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Summary"/>
                          <xs:element type="xs:string" name="Description"/>
                          <xs:element type="xs:byte" name="Confidence"/>
                          <xs:element type="xs:string" name="Background"/>
                          <xs:element type="xs:string" name="Remediation"/>
                          <xs:element name="Further-Information">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Further-info"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Classifications">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Classification" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="type" use="optional"/>
                                        <xs:attribute type="xs:string" name="id" use="optional"/>
                                        <xs:attribute type="xs:anyURI" name="href" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DataFlowElement" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="LineText">
                                  <xs:annotation>
                                    <xs:documentation>multiple</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="SourceFileName" use="optional"/>
                              <xs:attribute type="xs:byte" name="LineNumber" use="optional"/>
                              <xs:attribute type="xs:byte" name="ColumnNumber" use="optional"/>
                              <xs:attribute type="xs:byte" name="Sequence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="NativeID" use="optional"/>
                        <xs:attribute type="xs:string" name="IdentifiedTimestamp" use="optional"/>
                        <xs:attribute type="xs:string" name="UniqueID" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Severity" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="SpecVersion"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Confidence">
      <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="10"/>
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Severity">
      <xs:annotation>
          <xs:documentation>
              One of Critical, High, Medium, Low, or Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Severities">
      <xs:restriction base="Severity">
          <xs:enumeration value="Critical" />
          <xs:enumeration value="High" />
          <xs:enumeration value="Medium" />
          <xs:enumeration value="Low" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Types">
      <xs:annotation>
          <xs:documentation>
              One of Dynamic, Static, Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type">
      <xs:restriction base="Types">
          <xs:enumeration value="Dynamic" />
          <xs:enumeration value="Static" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

</xs:schema>