def.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DEF">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Session-Reference"/>
        <xs:element type="xs:string" name="Date-Time"/>
        <xs:element name="Scan" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="Host">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Port">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Service">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="product" use="optional"/>
                                  <xs:attribute type="xs:string" name="version" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Software-Name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-Version" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-Arguments" minOccurs="0"/>
                          <xs:element name="Vulnerability" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Finding">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Summary"/>
                                      <xs:element type="xs:string" name="Description"/>
                                      <xs:element type="xs:string" name="Confidence"/>
                                      <xs:element type="xs:string" name="Background"/>
                                      <xs:element type="xs:string" name="Remediation"/>
                                      <xs:element name="Further-Information">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Further-Info"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Classifications">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="Classification">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute type="xs:string" name="type"/>
                                                    <xs:attribute type="xs:string" name="id"/>
                                                    <xs:attribute type="xs:string" name="href"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Page">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Page-Reference"/>
                                            <xs:element type="xs:string" name="URL"/>
                                            <xs:element type="xs:string" name="Method"/>
                                            <xs:element type="xs:string" name="HTTPVersion"/>
                                            <xs:element type="xs:string" name="StatusCode"/>
                                            <xs:element type="xs:string" name="Language"/>
                                            <xs:element name="Parameters">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Parameter"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Request-Response">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Request">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Raw"/>
                                                        <xs:element name="Headers">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Cookie">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Additional-RequestData">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                  <xs:element name="Response">
                                                    <xs:complexType>
                                                      <xs:sequence>
                                                        <xs:element type="xs:string" name="Raw"/>
                                                        <xs:element name="Headers">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Cookie">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                        <xs:element name="Additional-ResponseData">
                                                          <xs:complexType>
                                                            <xs:sequence>
                                                              <xs:element name="Data">
                                                                <xs:complexType>
                                                                  <xs:simpleContent>
                                                                    <xs:extension base="xs:string">
                                                                      <xs:attribute type="xs:string" name="name"/>
                                                                      <xs:attribute type="xs:string" name="value"/>
                                                                    </xs:extension>
                                                                  </xs:simpleContent>
                                                                </xs:complexType>
                                                              </xs:element>
                                                            </xs:sequence>
                                                          </xs:complexType>
                                                        </xs:element>
                                                      </xs:sequence>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="NativeID"/>
                                    <xs:attribute type="xs:string" name="IdentifiedTimestamp"/>
                                    <xs:attribute type="xs:string" name="UniqueID"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Severity"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Scan-Data" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="data">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name"/>
                                        <xs:attribute type="xs:string" name="value"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="protocol" use="optional"/>
                        <xs:attribute type="xs:string" name="portid" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="ip-address" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Software-Name"/>
              <xs:element type="xs:string" name="Software-Version"/>
              <xs:element type="xs:string" name="Software-Arguments"/>
              <xs:element name="Vulnerability" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Finding">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Summary"/>
                          <xs:element type="xs:string" name="Description"/>
                          <xs:element type="xs:string" name="Confidence"/>
                          <xs:element type="xs:string" name="Background"/>
                          <xs:element type="xs:string" name="Remediation"/>
                          <xs:element name="Further-Information">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Further-Info"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="Classifications">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Classification">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="type"/>
                                        <xs:attribute type="xs:string" name="id"/>
                                        <xs:attribute type="xs:string" name="href"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DataFlowElement">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="LineText"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="SourceFileName"/>
                              <xs:attribute type="xs:string" name="LineNumber"/>
                              <xs:attribute type="xs:string" name="ColumnNumber"/>
                              <xs:attribute type="xs:string" name="Sequence"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="NativeID"/>
                        <xs:attribute type="xs:string" name="IdentifiedTimestamp"/>
                        <xs:attribute type="xs:string" name="uniqueID"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Severity"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="SpecVersion"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Confidence">
      <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="10"/>
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Severity">
      <xs:annotation>
          <xs:documentation>
              One of Critical, High, Medium, Low, or Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Severities">
      <xs:restriction base="Severity">
          <xs:enumeration value="Critical" />
          <xs:enumeration value="High" />
          <xs:enumeration value="Medium" />
          <xs:enumeration value="Low" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Types">
      <xs:annotation>
          <xs:documentation>
              One of Dynamic, Static, Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type">
      <xs:restriction base="Types">
          <xs:enumeration value="Dynamic" />
          <xs:enumeration value="Static" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

</xs:schema>