def.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DEF">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="Session-reference"/>
        <xs:element type="xs:string" name="Date-time"/>
        <xs:element name="Scan" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element name="Host">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Port" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Service">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="name" use="optional"/>
                                  <xs:attribute type="xs:string" name="product" use="optional"/>
                                  <xs:attribute type="xs:string" name="version" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Software-name" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-version" minOccurs="0"/>
                          <xs:element type="xs:string" name="Software-arguments" minOccurs="0"/>
                          <xs:element name="Vulnerability" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="Finding">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="Summary"/>
                                      <xs:element type="xs:string" name="Description"/>
                                      <xs:element type="xs:string" name="Further-info"/>
                                      <xs:element type="xs:string" name="Confidence"/>
                                      <xs:element type="xs:string" name="Background"/>
                                      <xs:element type="xs:string" name="Remediation"/>
                                      <xs:element name="classification">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute type="xs:string" name="type" use="optional"/>
                                              <xs:attribute type="xs:string" name="id" use="optional"/>
                                              <xs:attribute type="xs:anyURI" name="url" use="optional"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="Page">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="Page-reference"/>
                                            <xs:element type="xs:string" name="Method"/>
                                            <xs:element type="xs:string" name="URL"/>
                                            <xs:element name="Parameters">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Parameter"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="Request-response">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="Request"/>
                                                  <xs:element type="xs:string" name="Response"/>
                                                  <xs:element type="xs:string" name="html"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="NativeID" use="optional"/>
                                    <xs:attribute type="xs:string" name="IdentifiedTimestamp" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="Severity" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="data" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:simpleContent>
                                      <xs:extension base="xs:string">
                                        <xs:attribute type="xs:string" name="name" use="optional"/>
                                        <xs:attribute type="xs:string" name="value" use="optional"/>
                                      </xs:extension>
                                    </xs:simpleContent>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="protocol" use="optional"/>
                        <xs:attribute type="xs:byte" name="portid" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="ip-address" use="optional"/>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="Software-name"/>
              <xs:element type="xs:string" name="Software-version"/>
              <xs:element type="xs:string" name="Software-arguments"/>
              <xs:element name="Vulnerability" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Finding">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Summary"/>
                          <xs:element type="xs:string" name="Description"/>
                          <xs:element type="xs:string" name="Further-info"/>
                          <xs:element type="xs:byte" name="Confidence"/>
                          <xs:element type="xs:string" name="Background"/>
                          <xs:element type="xs:string" name="Remediation"/>
                          <xs:element name="classification">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="optional"/>
                                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                                  <xs:attribute type="xs:string" name="url" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="DataFlowElement" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="LineText"/>
                              </xs:sequence>
                              <xs:attribute type="xs:string" name="SourceFileName" use="optional"/>
                              <xs:attribute type="xs:byte" name="LineNumber" use="optional"/>
                              <xs:attribute type="xs:byte" name="ColumnNumber" use="optional"/>
                              <xs:attribute type="xs:byte" name="Sequence" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:short" name="NativeID" use="optional"/>
                        <xs:attribute type="xs:string" name="IdentifiedTimestamp" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="Severity" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="SpecVersion"/>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="Confidence">
      <xs:restriction base="xs:integer">
          <xs:minInclusive value="1"/>
          <xs:maxInclusive value="10"/>
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Severity">
      <xs:annotation>
          <xs:documentation>
              One of Critical, High, Medium, Low, or Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Severities">
      <xs:restriction base="Severity">
          <xs:enumeration value="Critical" />
          <xs:enumeration value="High" />
          <xs:enumeration value="Medium" />
          <xs:enumeration value="Low" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="Types">
      <xs:annotation>
          <xs:documentation>
              One of Dynamic, Static, Info.
          </xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
      </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Type">
      <xs:restriction base="Types">
          <xs:enumeration value="Dynamic" />
          <xs:enumeration value="Static" />
          <xs:enumeration value="Info" />
      </xs:restriction>
  </xs:simpleType>

</xs:schema>